.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.extra-space {
  padding: 20px 0px 0px 0px;
}

.techno {
  padding: 10px;
}

.outer-div {
  border-radius: 45px;
  overflow: hidden;
}

.image-frame {
  position: absolute;
  top: -10px;
}

.open-source-section {
  padding-top: 10%;
  padding-bottom: 10%;
}

.open-source-section .title{
  font-size: 5.2em;
  padding-left: 20px;
}

.open-source-section .subtitle{
  font-size: 2.813rem;
  color: #7c7c7c;
}

.open-source-section .column.is-inline-block:first-child .title {
  padding-left: 0px;
  padding-right: 20px;
}

.icon-color {
  color: #ed5d45 !important;
  padding: 0px !important;
}

.nav-heading {
  padding-left: 10px;
}

.nav-logo {
  max-height: 40px !important;
}

.navbar-menu.is-active {
  box-shadow: none;
}

.play-store {
  width: 100px !important;
  float: left;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width: 1200px) and (max-width:1410px){
  .card-content {
    padding: 1.0em 0.5rem !important;
  }
  .outer-div {
    border-radius: 35px;
  }
  .image-frame {
    top: -6px;
  }
  .container {
    max-width: 1170px !important;
  }
}
@media (max-width: 1200px){
  .outer-div {
    border-radius: 30px;
  }
  .image-frame {
    top: -5px;
  }
  .columns.is-mobile>.column.is-8 {
    width: 100% !important;
  }
  .columns.open-source-section .column.is-10 {
    width: 100% !important;
  }
  .open-source-section .title {
    font-size: 4.2em;
  }
  .open-source-section .subtitle {
    font-size: 2.5rem;
  }
}
@media (max-width: 850px) {
  .outer-div {
    border-radius: 25px;
  }
  .open-source-section .title{
    font-size: 3em;
  }
  .open-source-section .subtitle {
    font-size: 2.2rem!important;
  }
}
@media (max-width: 768px) {
  .columns.is-mobile>.column.is-8 {
    width: 100% !important;
  }
  .column.is-4 {
    float: none !important;
    width: 50%;
    margin: auto !important; 
  } 
  .techno {
    float: left;
    width: auto;
  }
  p.bd-notification.is-primary.has-text-left {
    float: left;
    width: 100%;
  }
  .image-frame {
    top: -7px;
  }
  .outer-div {
    border-radius: 40px;
  }
}
@media (max-width: 620px) {
  .open-source-section .column.is-inline-block {
    display: block !important;
  }
  .open-source-section .title {
    padding: 0px !important;
  }
}
@media (max-width: 520px) {
  .column.is-4 {
    width: 80%;
  } 
  .outer-div {
    border-radius: 50px;
  }
  .image-frame {
    top: -8px;
  }
  .open-source-section .title{
    font-size: 2em;
  }
  .open-source-section .subtitle {
    font-size: 1.5rem!important;
  }
}
@media (max-width: 400px) {
  .outer-div {
    border-radius: 35px;
  }
  .column.is-4 {
    width: 100%;
  }
}

.commits-item {
  display: block;
  font-weight: 500;
}

.commits-item .columns {
  justify-content: center;
}